<!doctype html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>
<body>
<div ng-controller="personCtrl">

    <h1>{{jmeno}} {{prijmeni}}</h1>

    jméno: <input type="text" ng-model="jmeno"/><br/>
    příjmení: <input type="text" ng-model="prijmeni"/>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function($scope) {
            $scope.jmeno = "Martin";
            $scope.prijmeni = "Dostal";

        });
    </script>
</div>
</body>
</html>