<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="personCtrl">

        <h3>Přímý výpis v rámci výrazu</h3>
        <ul>
            <li ng-repeat="osoba in osoby">{{ $index+1 + '. ' + osoba.jmeno + ' ' + osoba.prijmeni}}
                <button ng-click="smaz($index)">smaž</button></li>
        </ul>

        <h3>Výpis s využitím funkce</h3>
        <ul>
            <li ng-repeat="osoba in osoby">{{ fullName(osoba) }}</li>
        </ul>

        <h3>Insert</h3>
        <form ng-submit="add()">
            <input type="text" ng-model="novaosoba_jmeno"/>
            <input type="text" ng-model="novaosoba_prijmeni"/>
            <input type="submit" value="OK">
        </form>
        nebo druhé tlačítko:
        <button ng-click="add()">Přidej</button>

        <h3>Delete - u seznamu</h3>
        <h3>Todo 3 - edit</h3>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function($scope) {
            $scope.osoby = [];
            $scope.osoby.push({"jmeno" : "Jan", "prijmeni" : "Novák"});

            //console.log($scope.osoby);
            $scope.fullName = function(osoba) {
                return osoba.jmeno + " " + osoba.prijmeni;
            }

            // insert - nova osoba
            $scope.novaosoba_jmeno = "";
            $scope.novaosoba_prijmeni = "";

            $scope.add = function () {
                console.log($scope.novaosoba_jmeno + " "+ $scope.novaosoba_prijmeni);
                $scope.osoby.push({"jmeno" : $scope.novaosoba_jmeno, "prijmeni" : $scope.novaosoba_prijmeni});
            }

            $scope.smaz = function (index) {
                $scope.osoby.splice(index, 1);
            }
        });
    </script>

</body>
</html>